<% if (typeof success !== 'undefined' && success) { %>
    <div class="success-message">
        <%= success %>
    </div>
<% } %>
<% if (typeof error !== 'undefined' && error) { %>
    <div class="error-message">
        <%= error %>
    </div>
<% } %>
