<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">TAH PROD</div>
        <div class="nav-links">
            <% if (user) { %>
                <% if (hasRole(ROLES.ADMIN)) { %>
                    <a href="/bands" class="nav-link">Bands</a>
                    <a href="/config" class="nav-link">Config</a>
                <% } %>
                <a href="/logout" class="nav-link">Disconnect</a>
            <% } else { %>
                <a href="/login" class="nav-link">Login</a>
            <% } %>
        </div>
    </div>
</nav>
