<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">TAH PROD</div>
        <div class="nav-links">
            <a href="/login" class="nav-link">Login</a>
        </div>
    </div>
</nav>
