<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">TAH PROD</div>
        <div class="nav-links">
            <% if (user) { %>
                <a href="/logout" class="nav-link">Disconnect</a>
            <% } else { %>
                <a href="/login" class="nav-link">Login</a>
            <% } %>
        </div>
    </div>
</nav>
