<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <main class="main-content">
        <%- include('partials/messages') %>
        <h1>Welcome to Tah Prod.</h1>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
